{% extends "base.html" %}
{% load staticfiles%}
{% block title %}School Manager App: Class Details{% endblock %}


{% block content %}

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="../../schedule/">Schedule</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{class_details.discipline.discipline_name}}</li>
  </ol>
</nav>

<div>
  <h1 class="mt-4 pt-2">Class Detailes</h1>
    <p> <strong>Discipline Name:</strong> {{class_details.discipline.discipline_name}}</p>
    <p> <strong>Class ID:</strong> {{class_details.id}}</p>
    <p> <strong>Class Date:</strong> {{class_details.class_dt | date:"d.m.Y"}}</p>
    <p> <strong>Class Time:</strong> {{class_details.class_dt | time:"H:i"}}</p>
</div>
<div>
  <table class="table table-hover mt-4">
      <thead class="thead-light">
          <tr>
            <th>Student Full Name</th>
            <th>Class Grade</th>
          </tr>
      </thead>
      <tbody>
      {% if class_presence %}
        {%for item in class_presence %}
          <tr>
            <td class="dtimes">{{item.student__full_name}}</td>
            <td class="dtimes">{{item.grade_value}}</td>
          </tr>
        {% endfor %}
      {% else %}
            <tr>
              <td colspan="4" align="center">No students visited this class.</td>
            </tr>
       {% endif %}
      </tbody>
  </table>
</div>
{% endblock %}
