
{% extends "base.html" %}
{% load staticfiles%}
{% block title %}Educational App: School manager{% endblock %}

{% block content %}

    <!-- Welcome Section -->
    <section id="tmWelcome" class="parallax-window" data-parallax="scroll" data-image-src="{% static 'home/img/mini-profile-bg-01.jpg' %}">
      <div class="container-fluid tm-brand-container-outer">
        <div class="row">
          <div class="col-12">
            <!-- Black transparent bg -->
            <div class="ml-auto mr-0 tm-bg-black-transparent text-white tm-brand-container-inner">
              <div class="tm-brand-container text-center">
                <h1 class="tm-brand-name">School Manager</h1>
                <p class="tm-brand-description mb-0">simple Django application</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="tm-bg-white-transparent tm-welcome-container">
        <div class="container-fluid">
          <div class="row h-100">
            <!-- Welcome Text -->
            <!-- White transparent bg -->
              <div class="tm-portfolio-item">
                <div class="tm-portfolio-name text-white tm-bg-dark-gray">
                    Manager Tools
                </div>
                <div class="tm-portfolio-description">
                    <h3 class="tm-text-dark-gray">
                        Manager Dashboard:
                    </h3>
                    <p class="mb-0">
                          <a rel="nofollow" href="/admin">+ Student Data Editing</a>
                     </p>
                     <br>
                     <h3 class="tm-text-dark-gray">
                          Available Reports:
                     </h3>
                    <p class="mb-0">
                        <a rel="nofollow" href="/students">+ Students in school</a>
                        <br>
                        <a rel="nofollow" href="/disciplines">+ Disciplines in school</a>
                     </p>
                    <br>
                </div>
              </div>
            </div>
          </div>
        </div>
    </section>
    <!-- End Welcome section -->

{% endblock %}

{% block extrahead %}
    <script type="text/javascript" src="{% static 'home/js/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'home/js/parallax.min.js' %}"></script>
    <script>
      function detectMsBrowser() {
        using_ms_browser =
          navigator.appName == "Microsoft Internet Explorer" ||
          (navigator.appName == "Netscape" &&
            navigator.appVersion.indexOf("Edge") > -1) ||
          (navigator.appName == "Netscape" &&
            navigator.appVersion.indexOf("Trident") > -1);

        if (using_ms_browser == true) {
          alert(
            "Please use Chrome or Firefox for the best browsing experience!"
          );
        }
      }
      function setBrandMarginTop() {
        var bottomContainerHeight = $(".tm-welcome-container").height();

        $(".tm-brand-container-outer").css({
          "margin-top": -bottomContainerHeight + "px"
        });
      }

      $(function() {
        setBrandMarginTop();
        detectMsBrowser();

        // Handle window resize event
        $(window).resize(function() {
          setBrandMarginTop();
        });
      });
    </script>
{% endblock extrahead %}

