{% extends "base.html" %}giy
{% load staticfiles%}
{% block title %}School Manager App: Classes Schedule{% endblock %}

{% block content %}
  <h1 class="mt-4 pt-4">School Manager App: Classes Schedule</h1>

  <table class="table table-hover mt-4">
      <thead class="thead-light">
          <tr>
            <th>Date</th>
            <th>Time</th>
            <th>Class Discipline</th>
            <th>Student Presence</th>
          </tr>
        </thead>
      <tbody>
        {%for schedule in class_schedule %}
          <tr>
            <td>{{schedule.class_dt | date:"d.m.Y"}}</td>
            <td>{{schedule.class_dt | time:"H:i"}}</td>
            <td>{{schedule.discipline}}</td>
            <td><a href='/presence/{{schedule.id}}'> Student presence report </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

{% endblock %}