{% extends "base.html" %}
{% load staticfiles%}
{% block title %}School Manager App: Discipline details{% endblock %}

{% block content %}
<div>
  <h1>Discipline details</h1>
  <p></p><a href="/">Back to Home page</a></p>
  <p><a href="../">Back to Disciplines</a></p>
  <p><strong>Discipline Name:</strong> {{discipline_details.discipline_name}}</p>
  <p><strong>Discipline ID:</strong> {{discipline_details.id}}</p>
  <p> <strong>Number of Classes:</strong> {{discipline_classes.count}}</p>
</div>
<div>
  <table>
      <thead>
          <tr>
            <th>Class ID in Schedule</th>
            <th>Class Date</th>
            <th>Class Time</th>
            <th>Class Student Presence</th>
          </tr>
      </thead>
      <tbody>
      {% if discipline_classes%}
        {% for discipline in discipline_classes%}
          <tr>
            <td>{{discipline.id}}</td>
            <td>{{discipline.class_dt | date:"d.m.Y"}}</td>
            <td>{{discipline.class_dt | time:"H:i"}}</td>
            <td><a href='/presence/{{discipline.id}}'> Student presence report </td>
          </tr>
        {% endfor %}
      {% else %}
            <tr>
              <td colspan="4" align="center">No classes.</td>
            </tr>
       {% endif %}
      </tbody>
  </table>
</div>
{% endblock %}
