{% extends "base.html" %}
{% load staticfiles%}
{% block title %}School Manager App: Disciplines List{% endblock %}

{% block content %}
<div>
  <h1>Student {{object.student}} Details </h1>
  <a href="../">Back to Students List</a>

  <p> <strong>Student Full Name:</strong> {{object.student}}</p>
  <p> <strong>Student ID:</strong> {{object.student.id}}</p>
  <p> <strong>Student Entrance Date:</strong> {{object.student.entrance_date | date:"d.m.Y"}}</p>
  <p> <strong>Student Knowledge Level:</strong> {{object.student.knowledge_level}}</p>

  <ul>
     {%for item in student_detailes %}
       <li>1{{item.grade_value}}</li>
<!--       <li>2{{object.presence.student_presence}}</li>-->
<!--       <li>3{{object.schedule.class_dt}}</li>-->
     {% endfor %}
  </ul>
</div>
{% endblock %}

